In [19]:
import numpy as np
import pandas as pd 
import cPickle

In [21]:
# convert updated (1972-2016) GSS dataset to cPickle format
# dataset is in Stata form, downloaded from http://gss.norc.org/get-the-data/stata on 2018-03-26

pathToDf = '../Data/GSS Dataset/stata/'
df = pd.read_stata(pathToDf + 'GSS7216_R3.DTA', convert_categoricals=False)   #note, convert_categoricals=True doesn't even work, and throws an error: https://github.com/pandas-dev/pandas/issues/13923
df.index = df['year']
df.columns = map(str.upper, df.columns)

# for comparison
# df2 = pd.read_pickle('../Data/df.pickle')

In [22]:
df.head()

,YEAR,ID,WRKSTAT,HRS1,HRS2,EVWORK,OCC,PRESTIGE,WRKSLF,WRKGOVT,...,NEISAFE,RLOOKS,RGROOMED,RWEIGHT,RHLTHEND,WTSS,WTSSNR,WTSSALL,VSTRAT,VPSU
year,,,,,,,,,,,,,,,,,,,,,
1972,1972,1,1.0,NaN,NaN,NaN,205.0,50.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.4446,NaN,NaN
1972,1972,2,5.0,NaN,NaN,1.0,441.0,45.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.8893,NaN,NaN
1972,1972,3,2.0,NaN,NaN,NaN,270.0,44.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.8893,NaN,NaN
1972,1972,4,1.0,NaN,NaN,NaN,1.0,57.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.8893,NaN,NaN
1972,1972,5,7.0,NaN,NaN,1.0,385.0,40.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.8893,NaN,NaN

In [25]:
cPickle.dump(df, open('../Data/GSS Dataset/stata/GSS7216_R3.cpickle', 'wb'))