In [53]:
import numpy as np
import pandas as pd 
import cPickle

In [21]:
# convert updated (1972-2016) GSS dataset to cPickle format
# dataset is in Stata form, downloaded from http://gss.norc.org/get-the-data/stata on 2018-03-26

pathToDf = '../Data/GSS Dataset/stata/'
df = pd.read_stata(pathToDf + 'GSS7216_R3.DTA', convert_categoricals=False)   #note, convert_categoricals=True doesn't even work, and throws an error: https://github.com/pandas-dev/pandas/issues/13923
df.index = df['year']
df.columns = map(str.upper, df.columns)

# for comparison
# df2 = pd.read_pickle('../Data/df.pickle')

In [22]:
df.head()

,YEAR,ID,WRKSTAT,HRS1,HRS2,EVWORK,OCC,PRESTIGE,WRKSLF,WRKGOVT,...,NEISAFE,RLOOKS,RGROOMED,RWEIGHT,RHLTHEND,WTSS,WTSSNR,WTSSALL,VSTRAT,VPSU
year,,,,,,,,,,,,,,,,,,,,,
1972,1972,1,1.0,NaN,NaN,NaN,205.0,50.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.4446,NaN,NaN
1972,1972,2,5.0,NaN,NaN,1.0,441.0,45.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.8893,NaN,NaN
1972,1972,3,2.0,NaN,NaN,NaN,270.0,44.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.8893,NaN,NaN
1972,1972,4,1.0,NaN,NaN,NaN,1.0,57.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.8893,NaN,NaN
1972,1972,5,7.0,NaN,NaN,1.0,385.0,40.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.8893,NaN,NaN

In [25]:
cPickle.dump(df, open('../Data/GSS Dataset/stata/GSS7216_R3.cpickle', 'wb'))

# Create VARS_BY_YEAR.pickle

Needs the following form: type==dict, where key=year, value=set('VAR1', 'VAR2', ...)

The previous file I used to use (and is now the backup) is: ../Data/VARS_BY_YEAR_1972-2012.pickle

In [30]:
VARS_BY_YEAR_old = cPickle.load(open('../Data/VARS_BY_YEAR_1972-2012.pickle', 'rb'))
df = cPickle.load(open('../Data/GSS Dataset/stata/GSS7216_R3.cpickle', 'rb'))

In [49]:
# for some reason, the VARS_BY_YEAR_old is a bit smaller (~66 variables) than the new combined dataset (df).
# and VARS_BY_YEAR_old also has ~2 variables that the newer one doesn't have. So I'll add those on too

for year in df.index.unique(): # 1972, 1973, ...
    print 'processing', year
    valid_variables = df.loc[year].columns[df.loc[year].notnull().any(axis=0)]
    valid_variables = set(map(str, valid_variables))
    if year<2014:
        valid_variables.update(VARS_BY_YEAR_old[year])
    VARS_BY_YEAR[year] = valid_variables

processing 1972
processing 1973
processing 1974
processing 1975
processing 1976
processing 1977
processing 1978
processing 1980
processing 1982
processing 1983
processing 1984
processing 1985
processing 1986
processing 1987
processing 1988
processing 1989
processing 1990
processing 1991
processing 1993
processing 1994
processing 1996
processing 1998
processing 2000
processing 2002
processing 2004
processing 2006
processing 2008
processing 2010
processing 2012
processing 2014
processing 2016

In [54]:
cPickle.dump(VARS_BY_YEAR, open('../Data/VARS_BY_YEAR.cpickle', 'wb'))